.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  #p0 {
    color: #0074c4;
    left: 60px;
    position: absolute;
    top: 72px;
  }
  #p100 {
    color: #0074c4;
    left: 240px;
    position: absolute;
    top: 144px;
  }